<div class="column">
<div class="card">
  <div class="card-section">
    <div class="callout">
    <h4>{{allotment.collegeName}}</h4>
    <b>{{allotment.branchName}}</b>
    (<i>{{allotment.quota}}</i>)
    <p>cutoff Rank :{{allotment.cutoffRank}}</p>
    </div>
  </div>
</div>
</div>
