<div class="row">
  <div class="large-12 columns">
    <h1>Karnataka CET allotment viewer</h1>
  </div>
</div>
{{#list-filter
   filter=(action 'filterBy')
   as |allotments|}}
{{#each allotments as |it|}}
  {{allotment-details allotment=it}}
{{/each}}

{{/list-filter}}
